<!--googleoff: index-->
<div class="l__section prefooter">
  <div class="l__section_inner prefooter__inner">
    <span class="prefooter__text">Cookies helfen uns bei der Verbesserung unserer Webseite. Durch die Nutzung unserer Webseite erklären Sie sich damit einverstanden, dass wir Cookies setzen.</span>
  </div>
</div>
<!--googleon: index-->
<footer class="l__section footercontainer">
  <div class="l__section_inner footer">
    <div class="footer__element">
      <span class="footer__text">&copy; 2016 toaster-online.de</span>
    </div>
    <div class="footer__element">
      <a href="/impressum#more" class="footer__text" rel="nofollow">* Affilate-Link</a>
      <a href="/datenschutz" class="footer__text" rel="nofollow">Datenschutz</a>
      <a href="/impressum" class="footer__text" rel="nofollow">Impressum</a>
    </div>
  </div>
</footer>
