<div class="headerplaceholder"></div>
            <header class="l__section header">
              <div class="l__section_inner header__inner">
                
                <div class="header__inner_left">
                  <div class="header__inner_left_titlecontainer">
                    <h1 class="header__title"><a class="header__title__link" href="/index.html">toaster-online</a></h1>
                  </div>
                  <div class="header__inner_left_hamburgercontainer">
                    <button class="btn hamburgericon togglenavigation">
                      <span class="hamburgericon__bar"></span>
                      <span class="hamburgericon__bar"></span>
                      <span class="hamburgericon__bar"></span>
                      <span class="hamburgericon__description">Menü</span>
                    </button>
                  </div>
                </div>

                <div class="header__inner_right">
                  <nav class="headernavigation">
                    <div class="headernavigation__element">
                      <a class="navigation__link" href="/twoSlotToaster.html">2-Schlitz-Toaster</a>
                    </div>
                    <div class="headernavigation__element">
                      <a class="navigation__link" href="/fourSlotToaster.html">4-Schlitz-Toaster</a>
                    </div>
                    <div class="headernavigation__element">
                      <a class="navigation__link" href="/multiFunctionToaster.html">Multifunktions-Toaster</a>
                    </div>
                    <div class="headernavigation__element">
                      <a class="navigation__link" href="/flatToaster.html">Flach-Toaster</a>
                    </div>
                      <div class="headernavigation__element">
                      <a class="navigation__link" href="/sandwichToaster.html">Sandwich-Toaster</a>
                    </div>
                </nav>
                </div>

              </div>
            </header>
