<div class="headerplaceholder"></div>
            <header class="l__section header">
              <div class="l__section_inner header__inner">
                
                <div class="header__inner_left">
                  <div class="header__inner_left_titlecontainer">
                    <span class="header__title"><a class="header__title__link" href="/">toaster-online</a></span>
                  </div>
                  <div class="header__inner_left_hamburgercontainer">
                    <button class="btn hamburgericon togglenavigation">
                      <span class="hamburgericon__bar"></span>
                      <span class="hamburgericon__bar"></span>
                      <span class="hamburgericon__bar"></span>
                      <span class="hamburgericon__description">Menü</span>
                    </button>
                  </div>
                </div>

                <div class="header__inner_right">
                  <nav class="headernavigation">
                    <div class="headernavigation__element">
                      <a class="navigation__link" href="/zwei-schlitz-toaster/">2-Schlitz-Toaster</a>
                    </div>
                    <div class="headernavigation__element">
                      <a class="navigation__link" href="/vier-schlitz-toaster/">4-Schlitz-Toaster</a>
                    </div>
                    <div class="headernavigation__element">
                      <a class="navigation__link" href="/multifunktionstoaster/">Multifunktionstoaster</a>
                    </div>
                    <div class="headernavigation__element">
                      <a class="navigation__link" href="/flachtoaster/">Flachtoaster</a>
                    </div>
                      <div class="headernavigation__element">
                      <a class="navigation__link" href="/sandwichtoaster/">Sandwichtoaster</a>
                    </div>
                </nav>
                </div>

              </div>
            </header>
