@custom-media --biggerThanMobile (min-width: 1100px);

/** SingleColumn 18rem */
@custom-media --biggerSingleColumn (min-width: 580px);

:root {
  --headerBackgroundColor: #333;
  --mobileNavBackgroundColor: #000;
  --heightHeader: 4rem;
}
