@import "_vars.css";

/**
 * BUTTON
 */

.btn {
  display: inline-block;
  padding: 10px 9px;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background: none;
  border: 1px solid transparent;
  border-radius: 4px;
  max-height: 100%;
  max-width: 100%;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

.btn--size-tiny {
  padding: 3px 12px;
  font-size: 9pt;
}

.btn--color-primary {
  background-color: #FFB300;
  color: #FFF;
}

.btn--color-secondary {
  background-color: #484848;
  color: #FFF;
}

.btn--color-primary:hover {
  background-color: #FFB300;
}

/**
 * SECTION
 */

.section {
  font-family: 'Lato', regular;
}

.section--add-padding {
  padding: 1.5rem;
  margin: 1rem;
}

.section--add-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__text {
  line-height: 1.6;
}

.section__box {
  background-color: #FFF;
  box-shadow: 0 4px 8px 1px #C7C5C5;
  border-radius: 2px;
  border: 1px solid #E6E6E6;
  padding: 1.5rem;
  max-width: 100%;
}

.section__box.category {
  width: 15%;
  display: inline-block;
  margin: 2rem;
  position: relative;
}

.section__box.category p {
  visibility: hidden;
  display: none;
}

.section__box.category:hover p {
  display: inline;
  color: #FFF;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  padding: 29% 30%;
  font-size: 1.8rem;
}

.section__box.category:hover .overlay {
  opacity: 0.5;
  visibility: visible;
}

.section__box.category .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background: #333;
  visibility: hidden;
}

.section__image {
  max-width: 100%;
  max-height: 45vh;
}

.section__links {
  margin-top: 2rem;
}

/**
 * SEPARATOR
 */
.separatorcontainer {
  background-color: #484848;
  color: #FFF;
}

.separator--add-padding {
  padding: 0.4rem 2.5rem;
}

.separator__text {
  text-align: center;
}

.separator__title {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: normal;
}

/**
 * HAMBURGERICON
 */

.hamburgericon {
  padding: 0.7rem 1rem 0.2rem;
  text-align: center;
}

.hamburgericon__description {
  color: #FFF;
  font-size: 0.75rem;
  font-family: 'Lato', regular;
  font-weight: 300;
}

.show-nav .hamburgericon {
  padding: 1rem;
}

.show-nav .hamburgericon__description {
  display: none;
}

.hamburgericon__bar {
  background-color: #5D5D5D;
  background-color: #FFF;
  display: block;
  width: 1.95rem;
  height: 3px;
  height: 0.188rem;
  border-radius: 1px;
  transition: transform 0.4s ease-out;
}

.hamburgericon__bar:nth-child(3) {
  transition: opacity 0.2s ease-out;
}

.hamburgericon__bar:nth-child(2) {
  margin: 0.25rem 0;
}

.show-nav .hamburgericon__bar:nth-child(1) {
  transform: rotate(135deg);
}

.show-nav .hamburgericon__bar:nth-child(2) {
  transform: rotate(45deg);
  margin-top: -3px;
}

.show-nav .hamburgericon__bar:nth-child(3) {
  opacity: 0;
}

/**
 * PRODUCTCARD
 */

.productcardgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem;
}

@media (--biggerThanMobile) {
  .productcardgrid {
    justify-content: flex-start;
  }
}

.productcard {
  flex: 1 1 18rem;
  min-width: 18rem;
  padding: 1.5rem 0;
  margin: 3rem 1rem 0;
  max-width: 22rem;
}

.productcard__details {}

@media (--biggerSingleColumn) {
  .productcard__details {
    /** Push footer on nearly same level */
    min-height: 23rem;
  }
}

.productcard__imagecontainer {
  padding: 0 5rem 2rem;
  max-height: 25%;
  min-height: 215px;
}

.productcard__image {
  max-width: 100%;
}

.productcard__content {
  border-left: 0;
  padding: 0 2rem;
}

.productcardgrid .productcard:first-child .productcard__content {
  border-left: 0;
}

@media (--biggerSingleColumn) {
  .productcard__content {
    border-left: 1px solid #D6D6D6;
  }
}

.productcard__pretitle {
  color: #FFB300;
  font-size: 0.89rem;
  display: block;
  line-height: 1.2rem;
  min-height: 1.2rem;
}

.productcard__title {
  font-size: 1.3rem;
  margin: 0.5rem 0 1.5rem;
  min-height: 4rem;
}

.productcard__speclist {
  list-style: none;
  padding: 0;
  line-height: 2;
}

.productcard__speclist_longtext {
  font-size: 0.9rem;
  margin-top: 1rem;
}
.productcard__textelement {}

.productcard__footer {
  margin-top: 2.5rem;
  text-align: center;
}

/**
  BLOGENTRY
**/

.blogentry {}

.blogentry__box {
  max-width: 100%;
}

@media (--biggerSingleColumn) {
  .blogentry__box {
    background-color: #FFF;
    box-shadow: 0 4px 8px 1px #E6E6E6;
    border-radius: 2px;
    border: 1px solid #E6E6E6;
    padding: 1.5rem;
  }
}

.blogentry__pretitle {
  color: #FFB300;
  font-size: 0.89rem;
  display: block;
  line-height: 1.2rem;
  min-height: 1.2rem;
}

.blogentry__title {
  font-size: 1.3rem;
  margin: 0.5rem 0 1.5rem;
}

.blogentry__text {
  line-height: 1.6;
}
