/**
 * LAYOUT
 */
.l__section {
  display: flex;
  flex-direction: column;
}

.l__section.l__light {
  background-color: rgb(255, 255, 255);
}

.l__section.l__dark {
  background-color: rgb(246, 246, 246);
}

.l__section_inner {
  width: 100%;
  max-width: 1140px;
  align-self: center;
}

.l__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.l__grid_element {
  flex: 1 1 18rem;
  min-width: 18rem;
}

.l__grid_element--size-wide {
  flex: 1 3 60%;
  min-width: 60%;
}
