/**
 * BUTTON
 */

.btn {
  display: inline-block;
  padding: 10px 9px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background: none;
  border: 1px solid transparent;
  border-radius: 4px;
  max-height: 100%;
  max-width: 100%;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

.btn--tiny {
  padding: 3px 12px;
  font-size: 9pt;
}

.btn--primary {
  background-color: #9EAEBA;
  border: 1px solid #808D96;
  color: #FFF;
}

/**
 * HAMBURGERICON
 */

.hamburgericon {
  padding: 0.7rem 1rem 0.2rem;
  text-align: center;
}

.hamburgericon__description {
  color: #FFF;
  font-size: 0.75rem;
  font-family: 'Lato', regular;
  font-weight: 300;
}

.show-nav .hamburgericon {
  padding: 1rem;
}

.show-nav .hamburgericon__description {
  display: none;
}

.hamburgericon__bar {
  background-color: #5D5D5D;
  background-color: #FFF;
  display: block;
  width: 1.95rem;
  height: 3px;
  height: 0.188rem;
  border-radius: 1px;
  transition: transform 0.4s ease-out;
}

.hamburgericon__bar:nth-child(3) {
  transition: opacity 0.2s ease-out;
}

.hamburgericon__bar:nth-child(2) {
  margin: 0.25rem 0;
}

.show-nav .hamburgericon__bar:nth-child(1) {
  transform: rotate(135deg);
}

.show-nav .hamburgericon__bar:nth-child(2) {
  transform: rotate(45deg);
  margin-top: -3px;
}

.show-nav .hamburgericon__bar:nth-child(3) {
  opacity: 0;
}
