/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: #F6F6F6;
}

html,
body {
  height: 100%;
}

.theatre {
  height: 100%;
}

.theatre__upperstage {}

.footer {
  background: var(--headerBackgroundColor);
  color: #fff;
}

.herocontainer {
  width: 100%;
  position: relative;
  min-height: 40vh;
  display: flex;
  justify-content: center;
}

.herocontainer__background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  text-align: center;
}

.herocontainer__background_image {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.75;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.hero {
  text-align: center;
  padding: 0 2rem;
}

.hero_title,
.category__title {
  font-family: 'Lato', regular;
  font-size: 5rem;
  color: #222;
}

.categorycontainer {
  height: 70vh;
  width: 100%;
  position: relative;
}

.table-container {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.table {
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table td,
.table th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.category__description {
  font-size: 15px;
  color: #b3b3b3;
}

.category__top,
.category__table {
  background-color:#FFF;
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);
  padding: 25px 60px;
  margin-top: 50px;
}
