@import "_vars.css";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {}

html,
body {
  height: 100%;
}

body {
  font-family: 'Lato', regular;
}

.theatre {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.theatre__upperstage {
  flex: 1 0 auto;
}

.footercontainer {
  flex: 0 0 auto;
  background: var(--headerBackgroundColor);
}

.footer {
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__text {
  color: #F6F6F6;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.9rem;
  display: inline-block;
  margin: 0.5rem 1rem;
}

.footer__link:hover,
.footer__link:active {
  text-decoration: underline;
}

.footer__element {}

.herocontainer {
  width: 100%;
  position: relative;
  min-height: 40vh;
  display: flex;
  justify-content: center;
}

.herocontainer__background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  text-align: center;
  top: 0;
  left: 0;
}

.herocontainer__background_image {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.75;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
}

.hero {}

.hero__title {
  margin: 4rem 2rem;
  text-align: center;
}

.hero__title_text {
  color: #222;
  margin: 2rem 0;
  display: block;
  line-height: 0.8;
  font-size: 2.5rem;
  font-weight: 700;
}

.hero__title_text--style-highlight {
  font-size: 6rem;
  margin-left: 0;
}

@media (min-width: 24.5rem) {
  
}
@media (min-width: 35rem) {
  .hero__title_text--style-highlight {
    margin-left: 6rem;
  }
}

@media (--biggerThanMobile) {
  .hero_title {
    /*font-size: 5rem;*/
  }
}

.categorycontainer {
  height: 70vh;
  width: 100%;
  position: relative;
}

.table-container {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.table {
  font-size: 16px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table tr:nth-child(even) {
  background-color: #F2F2F2;
}

.table td,
.table th {
  border: 1px solid #DDD;
  text-align: left;
  padding: 8px;
}

.category__description {
  font-size: 15px;
  color: #B3B3B3;
}

.category__top,
.category__table {
  padding: 25px 60px;
  margin-top: 50px;
}
